PySide6==6.11.2
PySide6_Essentials==6.11.2
PySide6_Addons==6.11.2
shiboken6==6.11.2
winrt-runtime==3.2.1; sys_platform == 'win32'
winrt-Windows.ApplicationModel==3.2.1; sys_platform == 'win32'
winrt-Windows.Foundation==3.2.1; sys_platform == 'win32'
typing_extensions==4.16.0; sys_platform == 'win32'
